    * {
        margin: 0;
        padding: 0;
    }

    .border {
        border: solid 1px #000000;
        margin: 100px auto 0;
        width: 400px;
        height: 400px;
        box-shadow: 0 0 7px #999;
    }

    .trangchu {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }